# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# PyCharm / VSCode / misc
.idea/
.vscode/

# Local/output data (si lo quieres evitar desde ya)
data/bronze/

# Ignore all obsidian folders
**/.obsidian/

# SMARD downloaded raw JSONs (must be fetched by the user)
data/landing/smard/**/*.json

# Pyright (local type-checker config)
pyrightconfig.json

